<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="RDBPessoaDAO"  primary="false"
		class="br.edu.utfpr.td.tsi.exemplo.spring.dao.RDBPessoaDAO"></bean>

	<bean id="InMemoriaPessoaDAO"  primary="true"
		class="br.edu.utfpr.td.tsi.exemplo.spring.dao.InMemoriaPessoaDAO"></bean>

	<bean id="pessoaServiceImpl" primary="true"
		class="br.edu.utfpr.td.tsi.exemplo.spring.service.PessoaServiceImpl">
		<property name="pessoaDAO" ref="RDBPessoaDAO"></property>
	</bean>

	<bean id="executor"
		class="br.edu.utfpr.td.tsi.exemplo.spring.control.Executor">
		<property name="pessoaService" ref="pessoaServiceImpl"></property>
	</bean>


</beans>